

.moreArticles {
	width: 90%;
	margin: auto;
	text-align: center;
	border-bottom: thin solid #dbdfe4;
}

.articleSuggestions {
	text-align: left;
}

.articleSuggestion {
	text-align: left;
	box-shadow: 0 0 10px 0 rgba(118, 118, 118, 0.2);
	border-radius: 4px;
	margin-right: 1%;
	margin-bottom: 3%;
}