

.topMenu {
	padding: 15px;
	// margin: auto;

	border-bottom: medium solid #dbdfe4;
	display: flex;

	position: fixed;
	top: 0;
	width: 100%;
	background: white;

	align-items: center;

	z-index: 10;

	nav * {
		text-align: center;
		font-size: 1.1em;
		font-family: PTSans;
		font-weight: bolder;
	}
}

.selected {
	border-bottom: thin solid #008192;
	color: #008192;

}
